<ion-header>
</ion-header>

<ion-content>

    <div class="background-container">

        <div class="background-filter">



            <ion-card>
                <img src="../../../assets/icon/avatar.gif" />
                <ion-card-header>
                    <h2 id="Bienvenido">Bienvenido/a</h2>
                    <h2>a nuestra</h2>
                    <h2><span> AsistenciApp</span></h2>
                </ion-card-header>
                <ion-card-content>

                    <ion-button (click)="redirecLogin()">
                        Ingresar
                    </ion-button>
                    <ion-button (click)="inicioPage()">
                        Registrarse
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
